<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kai.template.persist.mapper.primary.user.UserMapper">
    <select id="selectByUserName" parameterType="String"
            resultType="kai.template.persist.entity.user.UserEntity">
        select * from t_user where user_name = #{userName}
    </select>
</mapper>